.profile {
  width: 250px;

  border-radius: 15px;
  border: 2px solid grey;
  -webkit-box-shadow: 5px 6px 6px -4px rgba(66, 68, 90, 1);
  -moz-box-shadow: 5px 6px 6px -4px rgba(66, 68, 90, 1);
  box-shadow: 5px 6px 6px -4px rgba(66, 68, 90, 1);
}

.profile {
  position: relative;
  background: linear-gradient(0deg, #000, #272727);
}

.profile:before,
.profile:after {
  border-radius: 15px;
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #1e00ff,
    #ff0000,
    #fb0094,
    #2bff00,
    #00fff2,
    #ffff00,
    #ff0000
  );
  background-size: 300%;
  width: calc(100% + 0px);
  height: calc(100% + 0px);
  z-index: -1;
  animation: steam 40s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 500% 0;
  }
}

.profile:after {
  filter: blur(150px);
}

.avatar {
  margin-top: 15px;
  margin-bottom: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid grey;
  background-color: rgb(228, 228, 228);

  -webkit-box-shadow: 5px 9px 6px -4px rgba(66, 68, 90, 1);
  -moz-box-shadow: 5px 9px 6px -4px rgba(66, 68, 90, 1);
  box-shadow: 5px 9px 6px -4px rgba(66, 68, 90, 1);

  cursor: pointer;

  transition-property: scale;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.avatar:hover,
.avatar:focus {
  scale: 1.1;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);

  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 60px;
  background-color: rgb(228, 228, 228);
  border-top: 2px solid grey;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  width: calc(100% / 3);
  height: 95%;
}

.list:not(:last-child) {
  border-right: 2px solid grey;
}

.name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.tag {
  color: grey;
  margin-bottom: 8px;
}

.location {
  color: grey;
  margin-bottom: 8px;
}
